.copy {
  background: #111;
  padding-top: 35px;
  padding-bottom: 35px;
  align-items: center;
}

.footer-bg {
  background: black;
}

.footer {
  display: grid;
  grid-template-columns: 1.5fr 2fr 0.5fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer h3 {
  margin-bottom: 25px;
}

.rua {
  max-width: 31ch;
}

.footer-contato ul {
  margin-bottom: 30px;
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 355px;
  height: 1px;
  background: #222;
  margin-top: 15px;
}

.footer li {
  margin-bottom: 16px;
}
.footer-redes {
  align-items: center;
  display: flex;
  gap: 40px;
}

.footer a:hover {
  color: white;
}

.footer-copy {
  color: #555;
  grid-column: 1/-1;
  text-align: center;
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    gap: 60px;
  }
  .footer {
    grid-template-columns: 1fr;
  }
}
