.header-bg {
  background: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header-menu a {
  color: white;
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}
.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: white;
  margin-top: 4px;
  transition: all ease 0.5s;
  position: absolute;
}
.header-menu a:hover:after,
.header-menu a.ativo::after {
  width: 100%;
}

/*Header Menu*/
.btn-abrir-menu {
  display: none;
  width: 30px;
}

.fechar {
  cursor: pointer;
  width: 30px;
}
.menu-mobile {
  transition: all ease 0.3s;
  background: #0a0a0a;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  display: none;
}

.menu-mobile.abr-menu {
  width: 60%;
}

.menu-mobile.abr-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile ul {
  display: grid;
  text-align: left;
}

.menu ul {
  padding-bottom: 30px;
}

.menu-mobile ul li a {
  transition: 0.3s;
  text-transform: uppercase;
  transition: all ease 0.3s;
  color: white;
  font-size: 1.2rem;
  padding: 20px 8%;
  display: block;
}

.menu-mobile ul li a:hover {
  background-color: #0e0e0e;
  color: #ff5c00;
}

.menu-mobile .btn-fechar {
  padding: 25px;
}

.overlay-menu {
  background-color: black;
  opacity: 90%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

@media (max-width: 900px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: black;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: #2e2e2e;
  }
  .header a:after {
    display: none;
  }
}

@media (max-width: 700px) {
  .header-menu {
    display: none;
  }
  .btn-abrir-menu {
    display: block;
  }
  .menu-mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 1rem;
  }
}
